extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='#', id='room') Rooms

  .row
    .col-md-2
      .rooms

   script(type="text/javascript", src="/javascripts/room_list.js")
