doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/utility.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body

    block content
      .container

    script.
      var socket = io.connect('/php');
      console.log(socket)
      socket.on('connect', function() {
         socket.emit("new_user", { user: "katlyn" })
      });
